:root
{
    --logo1: YellowGreen;
    --logo2: #10221b;
    --hover1: yellow;
    --dropbtn1: #fff;
    --dropbtn2: #10221b;
    --marquee: #10221b;
    --marquee1: #fff;
    --headerabajoPrincipal: #fff;
    --dropdown-content1: #fff;
    --dropdown-content2: #10221b;
    --dropdown-content-a1: #10221b;
    --dropdown-content-a2: #fff;
    --tituloPrincipal0: yellowgreen;
    --copy0: gold;
    --scrollbar-track0: #fff;
    --scrollbar-thumb0: #10221b;
    --btnAll-0: #10221b;
    --btnAll-01: #fff;
    --btnAll-hover0: #10221b;
    --borderAll0: 0.2rem solid #10221b;
    --mainPrincipal:  #fff;
    --main2: #eee;
    --light-bg: #f1f1f1;
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    max-width: 100%;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
html::-webkit-scrollbar
{
    width: 1rem;
}
html::-webkit-scrollbar-track
{
    background: var(--scrollbar-track0);
}
html::-webkit-scrollbar-thumb
{
    background: var(--scrollbar-thumb0);
}

body
{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--mainPrincipal);
}

/* Style Section All*/

section
{
    padding: 7rem 11%;
}

/* Style btn All*/

.btn
{
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    display: inline-block;
    border: var(--borderAll0);
    color: var(--btnAll-0);
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding:  1rem 3rem;
}
.btn:hover
{
    background: var(--btnAll-hover0);
    color: var(--btnAll-01);
}

/* Style Header Section All */

.heading .slider
{
    height: 100vh;
    background-image: url(Images/FondoPrincipal/1-1pexels-irem-simsek.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: animate 20s ease-in-out infinite;
    animation-delay: 2s;
}
marquee
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    color: var(--marquee1);
    font-size: 19px;
    font-weight: 600;
}
.header.abajo marquee
{
    color: var(--marquee);
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.7rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
          /* background: #fff; */
          z-index: 1000;
}
.header.abajo
{
    background: var(--headerabajoPrincipal);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo
{
    position: relative;
    transition: 1.5s;
    text-decoration: none;
    display: none;
}
header.abajo .logo
{
    color: var(--logo2);
    display: flex;
    font-size: 2.3rem;
    margin-left: -6rem;
    letter-spacing: 2px;
    font-weight: 600;
}
header.abajo .logo i
{
    color: var(--logo1);
}
.navbar
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}
.navbar li
{
    float: left;
}
.navbar .dropdown
{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar .dropdown .dropbtn 
{
    position: sticky;
    color: var(--dropbtn1);
    font-size: 2.3rem;
    letter-spacing: 1px;
    margin: 50px 15px;
    font-weight: 700;
    transition: 0.7s;
}
.navbar .dropdown .dropbtn:hover 
{
    color: var(--hover1);
}
.header.abajo .navbar .dropdown .dropbtn 
{
    color: var(--dropbtn);
}
.navbar .dropdown .dropdown-content
{
    display: none;
    position: absolute;
    background-color: var(--dropdown-content1);
    margin-left: 14px;
    min-width: 160px;
    /* min-height: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
header.abajo .dropdown .dropdown-content
{
    background-color: var(--dropdown-content2);
}
.navbar .dropdown-content a
{
    display: block;
    font-size: 2.3rem;
    padding: 12px 16px;
    font-weight: 700;
    text-align: left;
    color: var(--dropdown-content-a1);
}
.header.abajo .dropdown-content a
{
    color: var(--dropdown-content-a2);
} 
.navbar .dropdown-content a:hover
{
    background-color: var(--light-bg);
}
.header.abajo .dropdown-content a:hover
{
    color: var(--hover1);
    background-color: #10221b;
}
.navbar .dropdown:hover .dropdown-content
{
    display: block;
}
.contenedor
{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    /* border: solid thin chartreuse;    */
}
.head
{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.titulo_principal
{
    font-size: 63px;
    margin-bottom: 17px;
    color: var(--tituloPrincipal0);
}
.copy
{
    font-weight: 400;
    font-size: 30px;
    color: var(--copy0);
}

/* Style subtitulocentrales All */

.subtitulocentrales
{
    text-align: center;
    justify-content: center;
    font-weight: 700;
    color: var(--subtituloscentrales);
    margin-bottom: 40px;
    padding: 5rem 0;
    font-size: 40px;
}
.subtitulocentrales2
{
    text-align: center;
    justify-content: center;
    font-weight: 700;
    color: var(--subtituloscentrales);
    font-size: 40px;
    padding: -2rem;
    margin-bottom: 40px;
}

/* Style btn All*/

.btn
{
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    display: inline-block;
    border: var(--borderAll0);
    color: var(--btnAll-0);
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding:  1rem 3rem;
}
.btn:hover
{
    background: var(--btnAll-01);
    color: var(--btnAll-0);
}

/* Style de AboutUS */

.aboutUS
{
    background: var(--main2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}
.aboutUS .image
{
    -webkit-box-flex: 1;
           -ms-flex: 1 1 42rem;
               flex: 1 1 42rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
.aboutUS .image img
{
    width: 100%;
    padding-bottom: 5rem 0;
    -webkit-box-shadow: 2rem 2rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 2rem 2rem 0 rgba(0, 0, 0, 0.1);
}
.aboutUS .content
{
    -webkit-box-flex: 1;
           -ms-flex: 1 1 42rem;
               flex: 1 1 42rem;
}
.aboutUS .content h3
{
    font-size: 3rem;
    color: #219150;
}
.aboutUS .content p
{
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
    
}

/* Style de About */

.contenedor-About
{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-About img
{
    width: 30%;
}
.checklist-About
{
    width: 60%;
}
.mision-vision
{
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.n-MV
{
    margin-bottom: 2rem;
    color: #219150;
}
.number
{
    display: inline-block;
    background-image: linear-gradient(to top, #359707 0%, #18df06 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/* Style de categoria */

.categoria
{
    background: #eee;
}
.categoria .box-container
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    padding-bottom: -100rem;
}
.categoria .box-container .box
{
    text-align: center;
    background: #fff;
    border: 0.2rem solid #10221b;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border-radius: .5rem;
}
.categoria .box-container .box:hover
{
    background: #1a332f;
}
.categoria .box-container .box .image
{
    height: 25rem;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
}
.categoria .box-container .box .image img
{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
       border-radius: .5rem;
}
.categoria .box-container .box .content
{
    padding: 2rem;
}
.categoria .box-container .box:hover .content > *
{
    color: #fff;
}
.categoria .box-container .box .content h3
{
    font-size: 2rem;
    color: #10221b;
}
.categoria .box-container  .box .content p
{
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
}

/* Style de categoriaDos */
.categoriaDos
{
    background: #eee;
}
.categoriaDos .box-containerDos
{
    display: -ms-grid;
    display: grid;
    gap: 17rem;
    padding-bottom: -100rem;
    grid-template-columns: max-content;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding-left: 35rem;

}
.categoriaDos .box-containerDos .boxDos
{
    text-align: center;
    background: #fff;
    border: 0.2rem solid #10221b;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border-radius: .5rem;
}
.categoriaDos .box-containerDos .boxDos:hover
{
    background: #1a332f;
}
.categoriaDos .box-containerDos .boxDos .imageDos
{
    height: 25rem;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
}
.categoriaDos .box-containerDos .boxDos .imageDos img
{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
       border-radius: .5rem;
}
.categoriaDos .box-containerDos .boxDos .contentDos
{
    padding: 2rem;
}
.categoriaDos .box-containerDos .boxDos:hover .contentDos > *
{
    color: #fff;
}
.categoriaDos .box-containerDos .boxDos .contentDos h3
{
    font-size: 2rem;
    color: #10221b;
}
.categoriaDos .box-containerDos .boxDos:hover .btn
{
    border-color: #fff;
}
.categoriaDos .box-containerDos .boxDos:hover .btn:hover
{
    background: #fff;
    color: #10221b;
}

/*  Style Proveedores */

.experts
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.cont-experts
{
    width: 30%;
    text-align: center;
    margin-bottom: -1rem;
}
.cont-experts img
{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
.cont-experts .IMGUN
{
    -o-object-fit: cover;
       object-fit: cover;
       border-radius: .5rem;
}
.n-experts
{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    font-weight: 700;
}
.contenedorTres .SubTres
{
    font-size: 2.7rem;
    color: #10221b;
}
.contenedorTres .SubTres:hover
{
    color: #18df06;
}

.headuno
{
    background: var(--main2);
    padding-top: 4.7rem;
}

/* Style Clientes */

.containerHead
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 7rem 0;
}
.containerHead .card
{
    position: relative;
    width: 280px;
    height: 360px;
    background-color: #161623;
    margin: 2rem;
    box-shadow: 0 25px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.containerHead .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.containerHead .card:hover .content
{
    opacity: 1;
    transform: translateY(-20px);
}
.containerHead .card .content .imgBx
{
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.containerHead .card .content .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerHead .card .content .contentBx h3
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 2px;
    line-height: 2rem;
    margin: 10px 0 10px;
    text-align: center;
}
.containerHead .card .content .contentBx h3 span
{
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: initial;
}

/* Style Pie de Pagina */

.footer
{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(Images/Footer/UMG-2023.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .box-container
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 4rem;
}
.footer .TituloSub
{
    font-size: 2.4rem;
    margin-top: 15.7rem;
    justify-items: center;
    margin-right: -29rem;
    margin-left: -11.9rem;
    font-weight: 600;
    color: #fff;
    display: inline-flexbox;
}
    
.footer .box-container .box h3
{
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem;
    color: #fff;
}
.footer .TituloSub:hover
{
    color: #18df06;
}
.footer .box-container .box a
{
    display: block;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
}
.footer .box-container .box a i
{
    color: #fff;
    padding-right: .5rem;
}
.footer .box-container .box a:hover
{
    color: #18df06;
}
.footer .box-container .box a:hover i
{
    padding-right: 2rem;
}
.footer .credit
{
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
.footer .credit span
{
    color: #18df06;
    font-size: 2.5rem;
    font-weight: 500;
}


@keyframes animate{
    10%{
        background-image: url(Images/FondoPrincipal/7-7pexels-photomix-company.jpg);
        background-size: cover;
    }
    30%{
        background-image: url(Images/FondoPrincipal/4-4pexels-viktoria-slowikowska3.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(Images/FondoPrincipal/3-3pexels-roman-odintsov.jpg);
        background-size: cover;
    }
    80%{
        background-image: url(Images/FondoPrincipal/2-2pexels-jane-doan.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(Images/FondoPrincipal/1-1pexels-irem-simsek.jpg);
        background-size: cover;
    }
}